{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Homeric Hymn Journey</title>
    </head>
    <body>
       <h1> Χαιρείς κόσμε! </h1>
       <div type="link"><a class="game" href="{% url 'game:index' %}"> Start your Adventure </a></div>
       <div type="link"><a class="htmxtest" href="{% url 'htmxtest:test' %}"> Practice HTMX </a></div>
    </body>
</html>
